*{
    margin: 0;
    padding: 0;
    font-size: 24px;
    box-sizing: border-box;
}
ul{
    flex: 1 1 auto;
}
nav{
    height: 80px;
    background-color: beige;
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    gap: 20px;
    padding-inline: 40px;
}
nav img{
    width: 50px;
}
nav ul{
    display: flex;
    /* background: rgba(0, 0, 0, 0.4); */
    /* width: 100%; */
    list-style: none;
    gap: 30px;
}
.button{
    margin-left: auto;
}
nav button{
    width: 150px;
    border: 2px solid black;
    border-radius: 10px;
    height: 35px;
}
#menu{
    display: none;
    position: absolute;
}
section{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 2fr 1fr;
}
main{
    grid-column: 1/2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 25px;
}
.tweet{
    border: 2px solid black;
    border-radius: 10px;
    width: 475px;
    height: 250px;
}
.tweet:nth-child(3n){
    grid-column: 1/3;
}
aside{
    display: grid;
    grid-column: 2/3;
    position: sticky;
    justify-items: center;
}
